<h3>Salut</h3>

<% if user_signed_in?  %>
    <h1>Listing des <%= @bars.length%> bars</h1>
    <h2><%= link_to 'New Bar', new_bar_path %></h2>
<% end
if user_signed_in? %>

    <% @bars.each do |bar| %>
        <p>• <%=link_to bar.name, bar %></p>
    <% end

else %>
    <li>
      <%= link_to 'Login', new_user_session_path %>
    </li>
<% end %>

